BETTER_AUTH_SECRET="your-secret-here"

# Drizzle
DATABASE_URL="file:./db.sqlite"

BRAPI_API_TOKEN="secret"
METRICS_TOKEN="your-metrics-token-here"
BETTER_AUTH_URL="http://localhost:3000"
NODE_ENV="development"